<!-- Set the var gallery_dir in your page to the dir you want -->
{{ $dir := string .gallery_dir }}
<ul class="image-gallery">
<!-- Sort assets/$gallery_dir descending and get only the image types I care about -->
<!-- Note caps is important due to my regex -->
<!-- Using variable name $imageres because $image seemed to cause issues at times -->
  {{ range $index, $element := (sort (readDir (delimit (slice "assets" $dir) "/")) "Name" "desc") }}
  {{ if (findRE ".jpg$|.png$|.webp$" .Name) }}
  {{- $imageres := resources.Get (printf "%s/%s" $dir .Name) -}}
  {{- $imagetitle := index (split .Name ".") 0 -}}
    <li>
      <!-- Since this is a gallery, I want very high quality, hence q97 and q99 -->
      <a href="{{ ($imageres.Fit "1600x1600 q99").Permalink }}" class="lightbox-image">
        <!--img src="{{ ($imageres.Fit "300x500 q97").Permalink }}"-->
        <img src="{{ ($imageres.Resize "300x q97").Permalink }}">
      </a>
    </li>
  {{ end }}

{{ end }}
</ul>
