{{- $dir := string .gallery_dir -}}
{{- $fit := "default" -}}
{{- if .fit -}}
{{- $fit = string .fit -}}
{{- end -}}
<div class="image-gallery">
  {{- range $index, $element := (sort (readDir (delimit (slice "assets" $dir) "/")) "Name" "asc") }}
  {{- if and (not (hasPrefix .Name "._")) (findRE "\\.(jpg|jpeg|png|webp)$" .Name) }}
  {{- with resources.Get (printf "%s/%s" $dir .Name) }}
  {{- $imagetitle := index (split $element.Name ".") 0 -}}
    <div class="thumb">
      {{- if eq $fit "default" -}}
      <img src="{{ (.Fit "1600x1600 q99").Permalink }}" alt="{{ $imagetitle }}" loading="lazy">
      {{- else -}}
      <img src="{{ (.Fit $fit).Permalink }}" alt="{{ $imagetitle }}" loading="lazy">
      {{- end -}}
    </div>
  {{- end }}
  {{ end }}
{{- end -}}
</div>
