<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.css"/>
{{- $style := resources.Get "sass/lightbox.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<script src="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.js"></script>
<script defer src="{{ .Site.Params.staticPath }}/lightbox.js"></script>

<section id="single" class="py-0 py-sm-5">
  <div id="gallery" class="container">
    <div class="row justify-content-center">
      <div class="col-sm-18 col-md-18 col-lg-15">
        <div class="pr-lg-4">
          <article class="page-content p-2">
            {{- with .Site.GetPage "portfolio.md" }}
            {{- range .Params.items }}
                <div class="image-gallery-header">
                {{- if .title -}}
                  <div class="image-gallery title">{{ .title | markdownify }}</div>
                {{- end }}
                {{- if .photographer -}}
                  <div class="image-gallery credit">photographer: {{ .photographer | markdownify }}</div>
                {{- end }}
                {{- if .model -}}
                  <div class="image-gallery credit">model: {{ .model | markdownify }}</div>
                {{- end }}
                {{- if .makeup -}}
                  <div class="image-gallery credit">makeup: {{ .makeup | markdownify }}</div>
                {{- end }}
                {{- if .hair -}}
                  <div class="image-gallery credit">hair: {{ .hair | markdownify }}</div>
                {{- end }}
                </div>

              {{- if .vimeo }}
                <hr class="image-gallery">
                <div class="vimeo-video-group">
                  {{- $vimeo := string .vimeo -}}
                  {{- range $id := split $vimeo " " }}
                    <div class="vimeo-video-wrapper">
                      <iframe src="https://player.vimeo.com/video/{{ $id }}?byline=0&amp;title=0&amp;badge=0&amp;autopause=0&amp;playsinline=1"
                              frameborder="0"
                              allow="fullscreen"
                              loading="lazy">
                      </iframe>
                    </div>
                  {{ end }}
                </div>
              {{- end }}

              {{- if .gallery_dir }}
                <hr class="image-gallery">
                <div lightbox-toggle>
                {{- $dir := string .gallery_dir }}
                {{- $fit := string .fit }}
                {{- partial "image-gallery" (dict "context" . "gallery_dir" $dir "fit" $fit) }}
                </div>
              {{- end }}
            {{- end }}
            {{- end }}
          </article>
        </div>
      </div>
    </div>
  </div>

  <button class="p-2 px-3" onclick="topFunction()" id="topScroll" aria-label="Scroll to top">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

<script src="{{ .Site.Params.staticPath }}/js/scroll-to-top.js"></script>
