<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
{{- $style := resources.Get "sass/lightbox.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script defer src="{{ .Site.Params.staticPath }}/lightbox.js"></script>

<!-- the li float width will determine how many pics per row. I like 3 => 32% -->
<section id="single" class="py-0 py-sm-5">
  <div id="gallery" class="container">
    <div class="row justify-content-center">
      <div class="col-sm-18 col-md-18 col-lg-15">
        <div class="pr-lg-4">
          <article class="page-content  p-2">
            <div lightbox-toggle>
            <!-- content in here -->
            {{- range (.Site.GetPage "portfolio.md").Params.items }}
                <p class="image-gallery head">
                {{- if .title -}}
                  <p class="image-gallery title">
                  {{- .title | markdownify -}}
                  </p>
                {{- end }}
                {{- if .photographer -}}
                  <p class="image-gallery credit">
                  photographer: {{ .photographer | markdownify -}}
                  </p>
                {{- end }}
                {{- if .model -}}
                  <p class="image-gallery credit">
                  model: {{ .model | markdownify -}}
                  </p>
                {{- end }}
                {{- if .makeup -}}
                  <p class="image-gallery credit">
                  makeup: {{ .makeup | markdownify -}}
                  </p>
                {{- end }}
                {{- if .hair -}}
                  <p class="image-gallery credit">
                  hair: {{ .hair | markdownify -}}
                  </p>
                {{- end }}
                </p>
              {{- if .gallery_dir }}
                <hr class="image-gallery">
                {{- $dir := string .gallery_dir }}
                {{- $fit := string .fit }}
                {{- partial "image-gallery" (dict "context" . "gallery_dir" $dir "fit" $fit) }}
              {{- end }}
            {{- end }}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{- if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) -}}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<script src="{{.Site.Params.staticPath}}/js/scrollProgressBar.js"></script>
{{- end }}

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
