/* Image Gallery */
/* Also see: assets/sass/lightbox.scss */
.image-gallery {overflow: auto; margin-left: -1%!important;}
.image-gallery div {float: left; display: block; margin: 0 0 1% 1%; width: 32%;}
.image-gallery .thumb {text-align: center; text-decoration: none!important; color: #777;}
.image-gallery .thumb img {width: 100%; display: block; border-radius: 1rem;}
hr.image-gallery {border-top: 1px dashed;}

/* Top scroll */
#single #topScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
}

#single #topScroll:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Singlepage scroll progress start */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--background-color);
    z-index: 999;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-color);
    transition: width .2s;
}
/* Singlepage scroll progress end */
