<section id="press" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.press.title | default "Press" }}</h3>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-3 px-md-5 px-lg-5">
                {{ range .Site.Params.press.items }}
                {{ if .url }}
                <div class="col-lg-4 col-md-6 my-3">
                    <a class="card my-3 h-100 p-3" href="{{ .url }}" title="{{ .title }}" target="_blank">
                        <div class="card-body bg-transparent">
				<h5 class="card-title bg-transparent">{{ .source }}</h5>
                            <div class="card-text secondary-font">
                                {{ .title }}
                            </div>
			    {{ if .image }}
			      {{ if in .image "https://" }}
			        {{ $imageres := resources.GetRemote .image }}
			        {{ with $imageres }}
			    <img class="card-img-top" src="{{ ( $imageres.Resize "300x q95").RelPermalink }}">
			        {{ end }}
			      {{ else }}
			        {{ $imageres := resources.Get .image }}
			        {{ with $imageres }}
			    <img class="card-img-top" src="{{ ( $imageres.Resize "300x q95").RelPermalink }}">
			        {{ end }}
			      {{ end }}
			    {{ end }}
                        </div>
                    </a>
                </div>
                {{ else }}
                <div class="col-lg-4 col-md-6 my-3">
                    <div class="card my-3 h-100 p-3" title="{{ .title }}">
                        <div class="card-body bg-transparent">
                            <h5 class="card-title bg-transparent">{{ .source }}</h5>
                            <div class="card-text secondary-font">
                                {{ .title }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
